/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * mapmaker implementation : © <George Zhang> <gkzhang01@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * mapmaker.css
 *
 * mapmaker stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (mapmaker_mapmaker.tpl), and to HTML elements you create dynamically
    (in mapmaker.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

#mmk_board {
    width: 750px;
    height: 750px;
    background-image: url("img/board.png");
    background-size: 750px 750px;
    position: relative;
    margin: auto;
}

.mmk_county {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("img/tokens.png");
    position: absolute;
}

.mmk_county_location {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
}

.mmk_edge {
    width: 42px;
    height: 9px;
    top: 3px;
    left: -3px;
    background-image: url("img/border.png");
    position: absolute;
}

.mmk_edge_location {
    width: 35px;
    height: 14px;
    position: absolute;
}

.mmk_is_valid_edge_location {
    cursor: pointer;
}

.mmk_district_meeple {
    width: 60px;
    height: 60px;
    background-image: url("img/meeples.png");
    position: absolute;
    opacity: 100%;
    transition: opacity 250ms;
}

.mmk_district_meeple:hover {
    opacity: 20%;
}

.mmk_overlay {
    width: 80px;
    height: 80px;
    top: -17px;
    left: -19px;
    opacity: 0;
    background-image: url("img/overlay.png");
    background-repeat: no-repeat;
    position: absolute;
}

.mmk_overlay_active {
    opacity: 60%;
}

.mmk_overlay_choose_winner {
    opacity: 60%;
    background-position: -320px 0px;
}